<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teriteri.backend.mapper.UserMapper">
<!--    <select id="getUserById" resultType="com.yilena.service.entity.po.User">-->
<!--        select id, username, password, description, image, following_count as followingCount, followers_count as followersCount,-->
<!--               coins, status, created_time as createdTime, updated_time as updatedTime,post_count as postCount,reason,video_count as videoCount,is_Record as isRecord-->
<!--        from user where id = #{id}-->
<!--    </select>-->

</mapper>
